<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock title %}</title>

        {% load static %}

        <!-- style -->
        <link rel="stylesheet" href="{% static 'style/main.css' %}">
        <link rel="stylesheet" href="{% static 'style/bottom_nav_mob.css' %}">
        <!-- /style -->

        <!-- boostrap -->
        <link rel="stylesheet"
            href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <!-- /boostrap -->

        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet">
        <!-- /fonts -->
        <!-- font owsom -->
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
            integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
            

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- /font owsom -->

        <!-- browser reload -->
        {% load django_browser_reload %}
        <!-- browser reload -->
        {% block link %}{% endblock link %}

    </head>
    <body>

        <!-- navbar -->
        <nav class="navbar navbar-expand-lg  bg-body-tertiary px-2 py-2">
            <div class="container-fluid">
                <!-- Left aligned logo/brand -->
                <div class="d-flex">
                    <a class="navbar-brand" href="/">
                        <img src="{% static 'assets/svg/logo.svg' %}" alt>
                        <span class="pandit">Pandit</span><span
                            class="plus">Plus</span>
                        <p class="tagline">ONLINE PANDIT BOOKING</p>
                    </a>

                </div>

                <!-- Toggler button to open navbar -->
                <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <button class="btn btn-close text-white ms-auto me-2"
                    id="navbarCloseBtn" style="display:none;"
                    aria-label="Close"></button>

                <!-- Center items -->
                <div class="collapse navbar-collapse justify-content-center"
                    id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page"
                                href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#abou_us">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/find_pandit">Find your Pandit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/my_bookings">My Bookings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#pooja_types">Pooja Type</a>
                        </li>
                        {% if user.is_authenticated %}
                        {% if user.request.pandit_profile %}
                        <li class="nav-item dropdown">
                            <a class="nav-link mobile_only" href="/pandit" >
                               My Profile
                            </a>
                            
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link mobile_only" href="/logout" >
                               Logout
                            </a>
                            
                        </li>
                        {% endif %}


                        {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#"
                                id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Login/Register
                            </a>
                            <ul class="dropdown-menu"
                                aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/login" style="font-size: 17px; font-weight: 500;">Yajman
                                        Login</a></li>
                                <!-- <li><a class="dropdown-item" href="/register">Yajman
                                        Register</a></li> -->
                                <li><a class="dropdown-item" href="/pandit/login" style="font-size: 17px; font-weight: 500;">Pandit
                                        Login</a></li>
                                <!-- <li><a class="dropdown-item" href="/pandit/register">Pandit
                                        Register</a></li> -->
                            </ul>
                        </li>
                        {% endif %}
                        

                        <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#"
                                role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item"
                                        href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another
                                        action</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something
                                        else here</a></li>
                            </ul>
                        </li> -->

                    </ul>
                </div>

                <!-- Right aligned search form -->

                <div class="d-flex item-right">

                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page"
                                href="#">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    width="20" height="20" viewBox="0 0 24 24"
                                    fill="none">
                                    <path
                                        d="M21.0002 21L16.6572 16.657M16.6572 16.657C17.4001 15.9141 17.9894 15.0321 18.3914 14.0615C18.7935 13.0909 19.0004 12.0506 19.0004 11C19.0004 9.94936 18.7935 8.90905 18.3914 7.93842C17.9894 6.96779 17.4001 6.08585 16.6572 5.34296C15.9143 4.60007 15.0324 4.01078 14.0618 3.60874C13.0911 3.20669 12.0508 2.99976 11.0002 2.99976C9.9496 2.99976 8.90929 3.20669 7.93866 3.60874C6.96803 4.01078 6.08609 4.60007 5.34321 5.34296C3.84288 6.84329 3 8.87818 3 11C3 13.1217 3.84288 15.1566 5.34321 16.657C6.84354 18.1573 8.87842 19.0002 11.0002 19.0002C13.122 19.0002 15.1569 18.1573 16.6572 16.657Z"
                                        stroke="#2A2A2A" stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page"
                                href="#">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    width="20" height="20" viewBox="0 0 24 24"
                                    fill="none">
                                    <g clip-path="url(#clip0_1_602)">
                                        <path
                                            d="M21.8999 18.7534L21.6732 18.5534C21.0302 17.9804 20.4673 17.3234 19.9999 16.6C19.4894 15.6017 19.1834 14.5115 19.0999 13.3934V10.1C19.1043 8.34376 18.4672 6.64633 17.3084 5.32667C16.1495 4.007 14.5486 3.15592 12.8065 2.93335V2.07335C12.8065 1.83731 12.7128 1.61093 12.5459 1.44402C12.379 1.27712 12.1526 1.18335 11.9165 1.18335C11.6805 1.18335 11.4541 1.27712 11.2872 1.44402C11.1203 1.61093 11.0265 1.83731 11.0265 2.07335V2.94668C9.30004 3.1853 7.71852 4.04152 6.57489 5.35675C5.43126 6.67199 4.80302 8.35711 4.80654 10.1V13.3934C4.72304 14.5115 4.41706 15.6017 3.90654 16.6C3.44712 17.3216 2.89333 17.9785 2.25987 18.5534L2.0332 18.7534V20.6334H21.8999V18.7534Z"
                                            fill="#2A2A2A" />
                                        <path
                                            d="M10.2129 21.3333C10.2714 21.7558 10.4808 22.143 10.8024 22.4232C11.1241 22.7035 11.5363 22.8578 11.9629 22.8578C12.3895 22.8578 12.8017 22.7035 13.1234 22.4232C13.445 22.143 13.6544 21.7558 13.7129 21.3333H10.2129Z"
                                            fill="#2A2A2A" />
                                    </g>
                                    <defs>
                                        <clippath id="clip0_1_602">
                                            <rect width="24" height="24"
                                                fill="white" />
                                        </clippath>
                                    </defs>
                                </svg>
                            </a>
                        </li>
                        {% if user.is_authenticated %}
                       
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img style="border-radius: 50%;" height="40" width="40"
                                    {% if user.yajman_profile.profile_picture %}
                                    src="{{ user.yajman_profile.profile_picture.url }}"
                                    {% else %}
                                    src="{% static 'assets/png/no_dp.png' %}"
                                    {% endif %}
                                    alt>
                            </a>
                            <ul class="dropdown-menu " aria-labelledby="userDropdown" style="margin-left: -50px;"  >
                                {% if request.user.pandit_profile %}
                                <li><a class="dropdown-item" href="/pandit" style="font-size: 17px; font-weight: 500;">My Profile</a></li>
                                <li><hr class="dropdown-divider"></li>
                                
                                {% endif %}
                                <li><a class="dropdown-item" href="/logout" style="font-size: 17px; font-weight: 500;">Logout</a></li>
                            </ul>
                            {% else %}
                           
                        </li>
                        
                        {% endif %}
                        

                    </ul>
                </div>
            </div>
        </nav>

        <!-- /navbar -->

        <!-- message -->
        {% if messages %}
        <div class="container-fuid rounded-0 m-0 p-0">
            {% for message in messages %}
            {% if message.tags == "error" %}
            <div class=" alert rounded-0 alert-danger alert-dismissible fade show"
                role="alert">
                {% else %}
                <div
                    class="alert rounded-0 alert-{{ message.tags }} alert-dismissible fade show"
                    role="alert">
                    {% endif %}
                    {{ message }}
                    <button type="button" class="btn-close"
                        data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            <!--  -->

            {% block main %}
            {% endblock main %}

            <!-- bottom nav for mobile -->

            {% comment %} <div class="bottom_nav_mob">
                <nav class="navbar fixed-bottom navbar-light bg-light">
                    <div class="container text-center">

                        <div class="col">
                            <span class="fa fa-home"></span>
                            <p>Home</p>
                        </div>
                        <div class="col">
                            <span class="fa fa-search"></span>
                            <p>Search</p>
                        </div>
                        <div class="col">
                            <span class="fa fa-bell"></span>
                            <p>Notifications</p>
                        </div>
                        <div class="col">
                            <span class="fa fa-user"></span>
                            <p>Account</p>
                        </div>

                    </div>
                </nav>

            </div> {% endcomment %}
            <!-- bottom nav for mobile -->

            <!-- footer -->
            <section class="footer">
                <div class="container">
                    <div class="social_icons text-center">
                        <div class="tree-images">
                            <img src="{% static 'assets/svg/fb_icon.svg' %}"
                                alt="facebook">
                            <img
                                src="{% static 'assets/svg/twitter_icon.svg' %}"
                                alt="Twitter">
                            <img
                                src="{% static 'assets/svg/youtube_icon.svg' %}"
                                alt="Youtube">
                        </div>

                    </div>
                    <div class="contact">
                        <div class="row text-center">
                            <div class="col-md-2"><span
                                    class="fa fa-envelope mx-3 fa -sm"></span> <span
                                    class="value">abc@gmail.com</span></div>
                            <div class="col-md-8"><span
                                    class="fa fa-map-marker fa-sm mx-3"></span> <span
                                    class="value">Lorem ipsum dolor sit amet
                                    consectetur. Vitae sed sollicitudin sodales
                                    magna consequat.</span></div>
                            <div class="col-md-2"><span
                                    class="fa fa-phone mx-3"></span> <span
                                    class="value">+91 9876543210</span></div>

                        </div>
                    </div>
                    <div class="copy_right text-center">
                        <span>@ 2024 copyrighted by Panditji+.All Right
                            Reserved.</span>
                    </div>
                </div>
            </section>
            <!-- /footer -->

            {% django_browser_reload_script %}

            <script>
            document.addEventListener('DOMContentLoaded', function () {
                var navbarToggler = document.querySelector('.navbar-toggler');
                var navbarCollapse = document.querySelector('#navbarSupportedContent');
                var closeButton = document.querySelector('#navbarCloseBtn');
        
                // Show the close button and hide the navbar toggler when the navbar is expanded
                navbarToggler.addEventListener('click', function () {
                    if (!navbarCollapse.classList.contains('show')) {
                        closeButton.style.display = 'inline-block';  // Show close button
                        navbarToggler.style.display = 'none';  // Hide toggler button
                    }
                });
        
                // Close the navbar when the close button is clicked and bring back the toggler button
                closeButton.addEventListener('click', function () {
                    closeButton.style.display = 'none';  // Hide close button
                    navbarToggler.style.display = 'inline-block';  // Show toggler button
                    navbarCollapse.classList.remove('show');  // Collapse navbar
                });
            });
        </script>

        </body>
    </html>