{% extends "base.html" %}
{% block title %}pandit pluse | online pandit booking website{% endblock title %}
{% block link %}{% endblock link %}
{% load static %}
{% block main %}

 <!-- slider -->
 <div class="slider_main">
    <div id="carouselExampleControls" class="carousel slide"
        data-bs-ride="carousel">
        <!-- Carousel Indicators -->
        <div class="carousel-indicators">
            <button type="button"
                data-bs-target="#carouselExampleControls"
                data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
            <button type="button"
                data-bs-target="#carouselExampleControls"
                data-bs-slide-to="1" aria-label="Slide 2"></button>
            <!-- Add more buttons here for additional slides -->
        </div>

        <div class="carousel-inner">

            <!-- First Slide -->
            <div class="carousel-item active">
                <div class="slider_container">
                    <div class="container">
                        <div class="row">
                            <div
                                class="col-12 col-md-7 text-center text-md-start">
                                <div
                                    class="slider_right_img_mob text-center">
                                    <img
                                        src="{% static 'assets/svg/pandit_show_app.svg' %}"
                                        alt="pandit_showing_app">
                                </div>
                                <div class="texts">

                                    <h1>Find your Right choice <br> here
                                        from
                                        most <br>
                                        trusted</h1>
                                    <p>Lorem ipsum dolor sit amet
                                        consectetur. Vitae sed
                                        sollicitudin
                                        sodales magna consequat.
                                        Fringilla
                                        venenatis ultrices sit su
                                        mi.</p>
                                </div>
                                <div class="btns">
                                    <a href="/pandit/login">
                                    <span class="btn_main">
                                        Pandit Login</span>
                                    </a>
                                    <a href="/login">

                                    <span class="mx-3 btn_main_outline">
                                        <!-- <img
                                            src="{% static 'assets/svg/play_circle.svg' %}"
                                            alt> -->
                                            Yajman Login 
                                    </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="slider_right_img mx-5">
                                    <img
                                        src="{% static 'assets/svg/pandit_show_app.svg' %}"
                                        alt="pandit_showing_app">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Second Slide (Repeat structure for more slides) -->
            <div class="carousel-item">
                <div class="slider_container container2">
                    <div class="container-fluid">
                        <div class="heding text-center">
                            <h1 class="h1">Steps to use Website</h1>
                        </div>
                        <div class="image text-center my-5">
                            <img
                                src="{% static 'assets/svg/secondsliderimg.svg' %}"
                                width="100%" alt="second_slider">
                        </div>
                        <div class="image text-center my-5 for_mob">
                            <img
                                src="{% static 'assets/svg/secondsliderimg_mob.svg' %}"
                                width="100%" alt="second_slider">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Add more slides here if necessary -->

        </div>

    </div>
</div>

<!-- /slider -->

<!-- our services -->
<section class="services">

    <div class="container">
        <div class="heading text-center">
            <h2 class="h2">
                Our Services
                <br>
                <svg style="margin-top: -25px;"
                    xmlns="http://www.w3.org/2000/svg" width="210"
                    height="2" viewBox="0 0 322 2" fill="none">
                    <path d="M1 1L320.07 1"
                        stroke="url(#paint0_linear_1_433)"
                        stroke-width="2" stroke-linecap="round" />
                    <defs>
                        <lineargradient id="paint0_linear_1_433" x1="1"
                            y1="2.5" x2="320.07" y2="2.5"
                            gradientUnits="userSpaceOnUse">
                            <stop stop-color="#E4752D" />
                            <stop offset="1" stop-color="#FDB012" />
                        </lineargradient>
                    </defs>
                </svg>
            </h2>

        </div>
        <div class="grid">
            <div class="row">
                <div class="col-md-6  cards desktop_card my-1">
                    <div class="card ">
                        <div class="row dflex gx-0 gx-md-3">
                            

                            <div class="col-3 align-items-center">
                                <div class="pandit_icon   text-center pt-2">
                                    <img
                                        src="{% static 'assets/svg/young_pandit.svg' %}"
                                        alt="pandit_services">
                                </div>
                            </div>
                            <div class="col-9 align-items-center">
                                <div class="texts  pt-2  ">
                                <h3>Puja for special occasions</h3>
                                <p>Puja for special occasions (Housewarming, Weddings, Satyanarayan Puja, etc.)
                                </p>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6  cards desktop_card my-1">
                    <div class="card ">
                        <div class="row dflex gx-0 gx-md-3">
                            

                            <div class="col-3 align-items-center">
                                <div class="pandit_icon   text-center pt-2">
                                    <img
                                        src="{% static 'assets/svg/young_pandit.svg' %}"
                                        alt="pandit_services">
                                </div>
                            </div>
                            <div class="col-9 align-items-center">
                                <div class="texts  pt-2  ">
                                <h3>Pandit Pooja service</h3>
                                <p>Vastu Puja and Griha Pravesh

                                    Personalized astrology and ritual consultations
                                    
                                    All  rituals and festival services
                                    </p>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</section>
<!-- our services -->

   <!-- about us -->
   <section class="about my-2" id="about_us">
    <div class="container-fluid">
        <div class="heading text-center">
            <h2 class="h2">
                About Us
                <br>
                <svg style="margin-top: -25px;"
                    xmlns="http://www.w3.org/2000/svg" width="210"
                    height="2" viewBox="0 0 322 2" fill="none">
                    <path d="M1 1L320.07 1"
                        stroke="url(#paint0_linear_1_433)"
                        stroke-width="2" stroke-linecap="round" />
                    <defs>
                        <lineargradient id="paint0_linear_1_433" x1="1"
                            y1="2.5" x2="320.07" y2="2.5"
                            gradientUnits="userSpaceOnUse">
                            <stop stop-color="#E4752D" />
                            <stop offset="1" stop-color="#FDB012" />
                        </lineargradient>
                    </defs>
                </svg>
            </h2>

        </div>
        <div class="container-fluid my-4 text-center text-md-start">
            <div class="row">
                <div class="col-md-4">
                    <img
                        src="{% static 'assets/svg/pandit_with_mobile.svg' %}"
                        alt="about_us">
                </div>
                <div class="col-md-8 text-center text-md-start">
                    <p class="p">
                        PanditPlus.in is your trusted, one-stop solution for booking experienced and qualified pandits for all your religious and spiritual needs. We simplify the process of finding the right pandit for various ceremonies, ensuring that your rituals are performed with utmost care and adherence to tradition. From simple pujas to grand ceremonies, our platform connects you with knowledgeable pandits who excel in Vedic practices and provide top-tier service. Whether it’s a Griha Pravesh, Satyanarayan Puja, Wedding, or any other ritual, we ensure you find pandits who meet the specific requirements of each ceremony.
                    </p>
                    <button class="btn btn_main ">Read More</button>
                </div>
            </div>

        </div>
    </div>

</section>
<!-- /about us -->

<!-- how its works -->
<section class="how_works my-5">
    <div class="container-fluid">
        <div class="heading text-center">
            <h2 class="h2">
                How it works
                <br>
                <svg style="margin-top: -25px;"
                    xmlns="http://www.w3.org/2000/svg" width="210"
                    height="2" viewBox="0 0 322 2" fill="none">
                    <path d="M1 1L320.07 1"
                        stroke="url(#paint0_linear_1_433)"
                        stroke-width="2" stroke-linecap="round" />
                    <defs>
                        <lineargradient id="paint0_linear_1_433" x1="1"
                            y1="2.5" x2="320.07" y2="2.5"
                            gradientUnits="userSpaceOnUse">
                            <stop stop-color="#E4752D" />
                            <stop offset="1" stop-color="#FDB012" />
                        </lineargradient>
                    </defs>
                </svg>
            </h2>

        </div>
        <div class="container_fluid text-center">
            <img src="{% static 'assets/svg/how_it_works.svg' %}" alt>
        </div>
    </div>
</section>
<!-- /how its works -->

<!-- pooja categoris -->
<section class="pooja_categories my-5" id="pooja_types">
    <div class="container-fluid">
        <div class="heading text-center">
            <h2 class="h2">
                Pooja categoris
                <br>
                <svg style="margin-top: -25px;"
                    xmlns="http://www.w3.org/2000/svg" width="210"
                    height="2" viewBox="0 0 322 2" fill="none">
                    <path d="M1 1L320.07 1"
                        stroke="url(#paint0_linear_1_433)"
                        stroke-width="2" stroke-linecap="round" />
                    <defs>
                        <lineargradient id="paint0_linear_1_433" x1="1"
                            y1="2.5" x2="320.07" y2="2.5"
                            gradientUnits="userSpaceOnUse">
                            <stop stop-color="#E4752D" />
                            <stop offset="1" stop-color="#FDB012" />
                        </lineargradient>
                    </defs>
                </svg>
            </h2>

        </div>
        <div class="container">
            <div class="row ">
                {% if services_type %}
                {% for st in services_type %}
                <div class="col-6 col-md-3 my-0 my-md-2 my-lg-3">
                    <div class="card">
                        <div class="card-header text-center">
                            <h4>{{st}}</h4>
                        </div>
                        <div class="card-body">
                            <div class="card-image">
                                <img src="{{st.thumbnails.url}}" alt="" >
                            </div>
                            <div class="content">

                             {% for poojas in st.services_set.all %}
                                
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" fill="none">
                                    <path d="M8.55037 0.984863L3.64882 5.88642L2.05913 4.29673L0.5 5.85585L2.08969 7.44555L3.659 9.01486L5.21813 7.45573L10.1197 2.55419L8.55037 0.984863Z" fill="#16BA13"/>
                                  </svg>
                                  &nbsp;
                       

                                  {{poojas.service_name}}
                            </p>
                            {% endfor %}   
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <a href="/pooja_details/{{st.id}}">
                            <button class="btn btn_main w-100">View Details</button>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            
            </div>
        </div>
    </div>

    
</section>
<!-- /pooja categoris -->

<!-- reviews -->

<section class="testimonials my-5">
    <div class="container">
        <div class="heading text-center">
            <h2>What our customers say</h2>
            <svg style="margin-top: -25px;"
                xmlns="http://www.w3.org/2000/svg" width="210"
                height="2" viewBox="0 0 322 2" fill="none">
                <path d="M1 1L320.07 1"
                    stroke="url(#paint0_linear_1_433)" stroke-width="2"
                    stroke-linecap="round" />
            </svg>
        </div>

        <div class="container">
            <script src="https://static.elfsight.com/platform/platform.js" async></script>
        <div class="elfsight-app-c26640fe-9871-4ef0-bf87-b862aecdbe8b" data-elfsight-app-lazy></div>
        
        </div>
        
    </div>
</section>



<!-- /reviews -->
  <!-- testimonials -->

        <!-- Bootstrap 5 CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet">

        <!-- Bootstrap 5 JS -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>


            
        <section class="testimonials my-5">
            <div class="container">
                <div class="heading text-center">
                    <h2>Testimonials</h2>
                    <svg style="margin-top: -25px;"
                        xmlns="http://www.w3.org/2000/svg" width="210"
                        height="2" viewBox="0 0 322 2" fill="none">
                        <path d="M1 1L320.07 1"
                            stroke="url(#paint0_linear_1_433)" stroke-width="2"
                            stroke-linecap="round" />
                    </svg>
                </div>

                <div id="testimonialsCarousel" class="carousel slide"
                    data-bs-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-bs-target="#testimonialsCarousel"
                            data-bs-slide-to="0" class="active"></li>
                        <li data-bs-target="#testimonialsCarousel"
                            data-bs-slide-to="1"></li>
                        <li data-bs-target="#testimonialsCarousel"
                            data-bs-slide-to="2"></li>
                    </ol>

                    <!-- Carousel Items -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-4 col-12">
                                    <div class="wrap_testi">
                                        <div
                                            class="testi text-center d-flex flex-column align-items-center">
                                            <div class="img-area mb-3">
                                                <img
                                                    src="{% static 'assets/svg/pandit_for_testimonial.svg' %}"
                                                    alt="Person 1"
                                                    class="img-fluid">
                                            </div>
                                            <div class="abc_area">
                                                <h3>ABC</h3>
                                                <span>Bandhan Matrimony</span>
                                            </div>

                                            <div class="top_left_quote"><img
                                                    src="{% static 'assets/svg/right_quate.svg' %}"
                                                    alt></div>

                                            <div
                                                class="para_area text-md-start">
                                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus veritatis repellendus delectus, est, alias recusandae."</p>
                                            </div>
                                            <div class="bottom_right_quote"><img
                                                    src="{% static 'assets/svg/left_quate.svg' %}"
                                                    alt></div>

                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="wrap_testi">
                                        <div
                                            class="testi text-center d-flex flex-column align-items-center">
                                            <div class="img-area mb-3">
                                                <img
                                                    src="{% static 'assets/svg/pandit_for_testimonial.svg' %}"
                                                    alt="Person 1"
                                                    class="img-fluid">
                                            </div>
                                            <div class="abc_area">
                                                <h3>ABC</h3>
                                                <span>Bandhan Matrimony</span>
                                            </div>

                                            <div class="top_left_quote"><img
                                                    src="{% static 'assets/svg/right_quate.svg' %}"
                                                    alt></div>

                                            <div
                                                class="para_area text-md-start">
                                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus veritatis repellendus delectus, est, alias recusandae."</p>
                                            </div>
                                            <div class="bottom_right_quote"><img
                                                    src="{% static 'assets/svg/left_quate.svg' %}"
                                                    alt></div>

                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="wrap_testi">
                                        <div
                                            class="testi text-center d-flex flex-column align-items-center">
                                            <div class="img-area mb-3">
                                                <img
                                                    src="{% static 'assets/svg/pandit_for_testimonial.svg' %}"
                                                    alt="Person 1"
                                                    class="img-fluid">
                                            </div>
                                            <div class="abc_area">
                                                <h3>ABC</h3>
                                                <span>Bandhan Matrimony</span>
                                            </div>

                                            <div class="top_left_quote"><img
                                                    src="{% static 'assets/svg/right_quate.svg' %}"
                                                    alt></div>

                                            <div
                                                class="para_area text-md-start">
                                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus veritatis repellendus delectus, est, alias recusandae."</p>
                                            </div>
                                            <div class="bottom_right_quote"><img
                                                    src="{% static 'assets/svg/left_quate.svg' %}"
                                                    alt></div>

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="carousel-item ">
                            <div class="row">
                                <div class="col-md-4 col-12">
                                    <div class="wrap_testi">
                                        <div
                                            class="testi text-center d-flex flex-column align-items-center">
                                            <div class="img-area mb-3">
                                                <img
                                                    src="{% static 'assets/svg/pandit_for_testimonial.svg' %}"
                                                    alt="Person 1"
                                                    class="img-fluid">
                                            </div>
                                            <div class="abc_area">
                                                <h3>ABC</h3>
                                                <span>Bandhan Matrimony</span>
                                            </div>

                                            <div class="top_left_quote"><img
                                                    src="{% static 'assets/svg/right_quate.svg' %}"
                                                    alt></div>

                                            <div
                                                class="para_area text-md-start">
                                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus veritatis repellendus delectus, est, alias recusandae."</p>
                                            </div>
                                            <div class="bottom_right_quote"><img
                                                    src="{% static 'assets/svg/left_quate.svg' %}"
                                                    alt></div>

                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="wrap_testi">
                                        <div
                                            class="testi text-center d-flex flex-column align-items-center">
                                            <div class="img-area mb-3">
                                                <img
                                                    src="{% static 'assets/svg/pandit_for_testimonial.svg' %}"
                                                    alt="Person 1"
                                                    class="img-fluid">
                                            </div>
                                            <div class="abc_area">
                                                <h3>ABC</h3>
                                                <span>Bandhan Matrimony</span>
                                            </div>

                                            <div class="top_left_quote"><img
                                                    src="{% static 'assets/svg/right_quate.svg' %}"
                                                    alt></div>

                                            <div
                                                class="para_area text-md-start">
                                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus veritatis repellendus delectus, est, alias recusandae."</p>
                                            </div>
                                            <div class="bottom_right_quote"><img
                                                    src="{% static 'assets/svg/left_quate.svg' %}"
                                                    alt></div>

                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="wrap_testi">
                                        <div
                                            class="testi text-center d-flex flex-column align-items-center">
                                            <div class="img-area mb-3">
                                                <img
                                                    src="{% static 'assets/svg/pandit_for_testimonial.svg' %}"
                                                    alt="Person 1"
                                                    class="img-fluid">
                                            </div>
                                            <div class="abc_area">
                                                <h3>ABC</h3>
                                                <span>Bandhan Matrimony</span>
                                            </div>

                                            <div class="top_left_quote"><img
                                                    src="{% static 'assets/svg/right_quate.svg' %}"
                                                    alt></div>

                                            <div
                                                class="para_area text-md-start">
                                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus veritatis repellendus delectus, est, alias recusandae."</p>
                                            </div>
                                            <div class="bottom_right_quote"><img
                                                    src="{% static 'assets/svg/left_quate.svg' %}"
                                                    alt></div>

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <!-- Add more carousel items if needed -->
                    </div>

                    <!-- Controls -->
                    <button class="carousel-control-prev" type="button"
                        data-bs-target="#testimonialsCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"
                            aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button"
                        data-bs-target="#testimonialsCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon"
                            aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>

        <!-- testimonials -->

        <!-- share and erarn -->
        <section class="share_earn text-center">
            <h2 class="h2">
                "Share and Earn: Unlock Multiple Rewards!"
            </h2>
            <div class="btns my-5">
                <span class="btn_main">
                    Book Pandit</span>
                <span class="mx-3 btn_main_outline">
                    <img
                        src="{% static 'assets/svg/play_button_white.svg' %}"
                        alt> Play Video
                </span>
            </div>

        </section>
        <!-- /share and erarn -->

        <!-- contact us -->
        <section class="contact_us my-5">
            <div class="container-fluid">
                <div class="heading text-center">
                    <h2 class="h2">
                        Contact Us
                        <br>
                        <svg style="margin-top: -25px;"
                            xmlns="http://www.w3.org/2000/svg" width="210"
                            height="2" viewBox="0 0 322 2" fill="none">
                            <path d="M1 1L320.07 1"
                                stroke="url(#paint0_linear_1_433)"
                                stroke-width="2" stroke-linecap="round" />
                            <defs>
                                <lineargradient id="paint0_linear_1_433" x1="1"
                                    y1="2.5" x2="320.07" y2="2.5"
                                    gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#E4752D" />
                                    <stop offset="1" stop-color="#FDB012" />
                                </lineargradient>
                            </defs>
                        </svg>
                    </h2>

                </div>

                <div class="contact_grid">
                    <div class="container">
                        <div class="row">
                            
                            <div class="col-4 text-center">
                                <div class="icon">
                                    <img
                                        src="{% static 'assets/svg/poly_location.svg' %}"
                                        alt="contact_us_location">

                                </div>
                                <h4>Office Address :</h4>
                                <p>Survey no 14/2 flat no 2 bhaunagar pimple gurav tal haveli dist pune 411061
                                    </p>
                            </div>

                            <div class="col-4 text-center">
                                <div class="icon">
                                    <img
                                        src="{% static 'assets/svg/poly_mail.svg' %}"
                                        alt="contact_us_location">

                                </div>
                                <h4>Email Address :</h4>
                                <p>Panditplus11@gmail.com</p>
                            </div>

                            <div class="col-4 text-center">
                                <div class="icon">
                                    <img
                                        src="{% static 'assets/svg/poly_phone.svg' %}"
                                        alt="contact_us_location">

                                </div>
                                <h4>Phone Number :</h4>
                                <p> 9028313632</p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="form_container">
                    <div class="container">
                        <form action class="form">
                            <div class="row">
                                <div class="col">
                                    <label for="name">Name :</label>
                                    <input type="text" class="form-control"
                                        name="name" placeholder="Your Name">
                                </div>
                                <div class="col">
                                    <label for="email">Email :</label>
                                    <input type="email" class="form-control"
                                        name="email"
                                        placeholder="Enter Your Email">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label for="pooja_category">Name of pooja
                                        Category :</label>
                                    <input type="text" class="form-control"
                                        name="name_of_pooja_category"
                                        placeholder="Name of pooja Category :">
                                </div>

                                <div class="col">
                                    <label for="name_of_pooja">Name of Pooja
                                        :</label>
                                    <input type="text" class="form-control"
                                        name="name_of_pooja"
                                        placeholder="Name of Pooja ">
                                </div>

                            </div>

                            <div class="row">

                                <div class="col">
                                    <label for="location">Location :</label>
                                    <input type="text" class="form-control"
                                        name="location" placeholder="Location ">
                                </div>

                            </div>

                            <div class="row">

                                <div class="col">
                                    <label for="preferred_date">Preferred date
                                        :</label>
                                    <input type="date" class="form-control"
                                        name="preferred_date">
                                </div>

                                <div class="col">
                                    <label for="preferred_time">Preferred Time
                                        :</label>
                                    <input type="time" class="form-control"
                                        name="preferred_date">
                                </div>

                            </div>

                            <div class="row">

                                <div class="col">
                                    <label for="mobile">Mobile :</label>
                                    <input type="mobile" class="form-control"
                                        name="mobile" placeholder="Mobile">
                                </div>

                            </div>
                            <div class="text-center ">
                                <button class="btn btn_main">
                                    <span class="fa fa-paper-plane mx-1">
                                    </span>
                                    Send
                                    Inquiry</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="container">

            </div>
        </section>

        <!-- /contact us -->

        
{% endblock main %}