{% extends "base.html" %}
{% block main %}
    <div class="container py-2">
        <h2>Set New Password</h2>

    <form method="post">
        {% csrf_token %}

        <!-- Show form non-field errors (like password mismatch) -->
        {% if form.non_field_errors %}
            <ul class="errorlist">
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <!-- Show errors only for the password fields -->
        <div>
            <label for="id_new_password1">New Password:</label>
            <input type="password" name="new_password1" id="id_new_password1">
            {% if form.new_password1.errors %}
                <ul class="errorlist">
                    {% for error in form.new_password1.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div>
            <label for="id_new_password2">Confirm Password:</label>
            <input type="password" name="new_password2" id="id_new_password2">
            {% if form.new_password2.errors %}
                <ul class="errorlist">
                    {% for error in form.new_password2.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <button type="submit">Set Password</button>
    </form>
    </div>

    {% endblock main %}