.font {
    font-family: Roboto;
}

:root {
    --primary-color: #E4752D;
    --secondary-color: #F9A815;
    --3rd_color: #BB6B30;
    --text-color: #000;
}

h1 {
    font-family: Roboto;
    font-size: 69px;

}

h2 {
    font-family: Roboto;
    font-size: 35px;
}

h3 {
    font-family: Roboto;
    font-size: 30px;
}

h4 {
    font-family: Roboto;
    font-size: 30px;
}

@media only screen and  (max-width: 767px) {
    h2{
        
    }
    h4{
        font-size: 20px !important;

    }
    p{
        font-size: 18px;
    }
    .contact_us .contact_grid p{
        font-size: 15px !important;
        line-height: 1.5rem !important;

    }
    .contact_us .contact_grid h4{
        font-size: 20px !important;
    }
}

/* btns */

.btn_main {
    border-radius: 100px;
    border: 1px solid #E4752D;
    background: linear-gradient(90deg, #E4752D 0%, #FDB012 100%);

    padding: 15px 55px 15px 55px;


    justify-content: center;
    align-items: center;
    gap: 21px;

    color: #2A2A2A;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;

    /* 160% */
    letter-spacing: 0.75px;
}

.btn_main_outline {
    border-radius: 100px;
    border: 1px solid #E4752D;

    padding: 15px 50px 15px 50px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: #2A2A2A;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 160% */
    letter-spacing: 0.75px;
}

.btn_main_outline img {
    width: 25px;
    height: 25px;
    margin-top: -3px;
    margin-right: 5px;
}

/* /btns */

.navbar {
    background: linear-gradient(90deg, #E4752D 0%, #F9A815 100%);
    height: 100px;

}

@media only screen and (max-width: 767px) {
    .navbar {
        height: 80px;
        margin-top: -10px;
    }

    .navbar.navbar-expand-lg.bg-body-tertiary.px-2.py-2 {
        margin-top: -10px;
        margin-left: -10px;


    }

    .navbar .navbar-brand img {
        height: 50px;
    }

    .navbar-toggler {
        margin-top: -16px;
    }

    .navbar .navbar-brand .tagline {}

    .slider_container h1 {
        font-size: 2rem !important;
        line-height: 1.2 !important;
        padding: 10px 10px 0px 10px;
    }

    .slider_container p {
        font-size: 0.8rem !important;
        line-height: 1.2 !important;
        padding: 10px 10px 0px 10px;

    }

    .slider_main .carousel {

        padding-top: 30px !important;
        /* Adjust or remove the padding */
        padding-bottom: 50px !important;

    }

    .btn_main {
        font-size: 12px;
        padding: 8px 19px 8px 19px;
        margin: 4px 0px 0px 10px;

    }

    .btn_main_outline {
        font-size: 12px;
        padding: 8px 19px 8px 19px;

    }

    .btn_main_outline.mx-3 {
        margin-left: 15px !important;
    }

    .btn_main_outline img {
        width: 15px;
        height: 15px;
        margin-top: -1px;
        margin-right: 0px;
    }

    .slider_container .btns {
        margin-top: 10px !important;
    }

    .slider_container .slider_right_img {
        display: none;
    }

    .slider_container.container2 {
        padding: 0 !important;
    }

    .slider_container.container2 .image.text-center.my-5 {
        margin-top: 30px !important;
        display: none;
    }

    .slider_container.container2 .image.text-center.my-5.for_mob {
        /* margin-top: 30px !important; */
        display: block !important;
    }

    .services .grid .card {
        /* margin-top: 2px !important; */
    }
    .services .grid .cards .card h3 {
        font-size: 18px !important;
        line-height: 0.8rem !important;
        margin: 10px 0px 10px 0px;
    }
    .services .grid .cards .card p {
        font-size: 10px !important;
        line-height: 0.8rem !important;
        
    }
    .services .grid .cards .card .pandit_icon img{
        width: 110% !important;
    }
    .services .grid {
        margin-left: 8px !important;
        margin-right: 8px !important;
    }

    .slider_right_img_mob {
        display: block !important;

    }

    .slider_right_img_mob img {
        max-height: 110px;
        margin: 0px 0px 30px 0px;
    }
}

.slider_container.container2 .image.text-center.my-5.for_mob{
    display: none;
}

/* Mobile styles for adjusting col-9 to col-12 and col-3 for the h1 */
@media only screen and (max-width: 767px) {}



.navbar .d-flex {
    margin-top: 5px;
}

.navbar .item-right {
    margin-top: -4px;
    display: block;
}

@media (max-width: 991px) {
    .navbar .item-right {
        display: none !important;
        /* Force it to hide */
    }
}

.navbar .navbar-brand .pandit {
    align-self: stretch;
    color: #FAFCFD;
    font-family: "Aref Ruqaa";
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* Add proper text stroke properties */
    -webkit-text-stroke-width: 0.6px;
    /* Include unit 'px' */
    -webkit-text-stroke-color: #000;
    /* Stroke color set to black */

    letter-spacing: 0.69px;


}

.navbar .navbar-brand .plus {
    background: linear-gradient(100deg, #F8AE1D 57.4%, #FCC809 88.91%);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Aref Ruqaa";
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.69px;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* Add proper text stroke properties */
    -webkit-text-stroke-width: 0.6px;
    /* Include unit 'px' */
    -webkit-text-stroke-color: #000;
    /* Stroke color set to black */
}

.navbar .navbar-brand .tagline {
    color: #FFF;
    text-align: center;
    font-family: "Aref Ruqaa";
    font-size: 7px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    /* 628.571% */
    letter-spacing: 0.21px;
    margin-left: 80px;
    margin-top: -37px;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: #2A2A2A;
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 210.526% */
    letter-spacing: 0.57px;
}


/* slider */
.slider_main .carousel {
    background-image: url('../assets/jpg/1slider_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Ensures the image fits the div without zooming or cropping */
    padding-top: 100px;
    padding-bottom: 62px;
    position: relative;
    width: 100%;
    /* Ensures the div takes the full width of its container */

}

.slider_container h1 {
    color: #2A2A2A;
    font-family: Roboto;
    font-size: 59px;
    font-style: normal;
    font-weight: 700;
    line-height: 115.909%;
    /* 79.977px */
}

.slider_container p {
    color: #626262;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    /* 160.87% */
    letter-spacing: 0.69px;
}

.slider_container .btns {
    margin-top: 45px;
}

.slider_container .slider_right_img img {
    max-height: 400px;


}

.slider_right_img_mob {
    display: none;
}

.carouselExampleControls .carousel-indicators {
    margin-top: 100px;
}

.carouselExampleControls .carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    /* background-color: #fff; */
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    background-color: #E4752D;

    border: 1px solid #7B7B7B;
}

.carouselExampleControls .carousel-indicators .active {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    /* background-color: #fff; */
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    background-color: #E4752D;
}

/*  */

/* services */
.services {
    margin-top: 50px;
}

.heading h2 {
    color: #2A2A2A;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: 115.909%;
    /* 57.955px */
}

.slider_container.container2 {
    padding: 0px 12px;

}

.slider_container.container2 h1 {
    margin-top: ;

}



/* Customizing the carousel indicators */
.carousel-indicators [data-bs-target] {
    background-color: #ffffff !important;
    /* Custom color with !important */
    width: 15px;
    height: 15px;
    border-radius: 45%;
}

/* Active indicator color */
.carousel-indicators .active {
    background-color: #ff5722 !important;
    /* Custom color with !important */
    width: 15px;
    height: 15px;
    border-radius: 45%;

}

/*  */


/* servicesc */
.services {
    padding-bottom: 30px;
}

.services .grid {
    margin-top: 35px;
    margin-left: 40px;
    margin-right: 40px;
}

.services .grid .cards {}

.services .grid .cards .card {
    border-bottom: 2px solid #E4752D;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    background: #FFF;
    box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.10);
    border-radius: 0px;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.services .grid .cards .card .pandit_icon {
    /* background-image: url('../assets/svg/polygon.svg');
    background-position: center;
    background-repeat: no-repeat;
    height: 100px; */

}

.services .grid .cards .card .pandit_icon img {
    width: 100%;

}

.services .grid .cards .card h3 {
    color: #2A2A2A;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 115.909%;
    /* 34.773px */
}

.services .grid .cards .card p {
    color: #9C9C9C;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.42px;
}

/* abot */

.about {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-top: 10px;
    padding: 0px 50px;
}

.about .p {
    color: #9C9C9C;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    /* 191.304% */
    letter-spacing: 0.69px;
    text-align: justify;
}

.about img {
    /* max-height: 350px; */
    width: 100%;
}

.about .btn_main {
    /* display: flex; */

    padding: 5px 40px 5px 40px;
    justify-content: center;
    align-items: center;
    gap: 21px;
    border-radius: 100px;
    background: linear-gradient(90deg, #E4752D 0%, #FDB012 100%);


    color: #2A2A2A;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 200% */
    letter-spacing: 0.6px;
}

@media only screen and (max-width: 767px) {
    .about {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        padding: 0px 0px;
    }

    .about img {
        /* max-height: 350px; */
        /* width: 100%;
         */
         width: 150px;
         height: 200px;
    }

}

/* how_works */
.how_works {
    padding-top: 40px;
    padding-bottom: 50px;
    background: #EDEDED;

}

.how_works .container_fluid img {
    max-height: 800px;
    width: 100%;
}

/* how_works */


/* share_earn */
.share_earn {
    height: 230px;
    background: linear-gradient(0deg, #55555521 0%, #52240685 50%),
        url('../assets/jpg/ram_lakhan_shiya.jpg') lightgray 50% / cover no-repeat;
    background-attachment: fixed;
    padding-top: 60px;
    /* background: url('../assets/jpg/ram_lakhan_shiya.jpg'); */

}

.share_earn h2 {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 115.909%;
    /* 57.955px */
}

.share_earn .btn_main {
    border-radius: 100px;
    border: 1px solid #E4752D;
    background: linear-gradient(90deg, #E4752D 0%, #FDB012 100%);

    color: #FFF;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 160% */
    letter-spacing: 0.75px;
    padding: 12px 40px;
}

.share_earn .btn_main_outline {
    border-radius: 100px;
    border: 2px solid #E4752D;

    color: #FFF;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 160% */
    letter-spacing: 0.75px;
    padding: 12px 40px;

}

.share_earn .btn_main_outline img svg {
    color: #FFF;
}


/*  */

/* contact_us */
.contact_us {}

.contact_us .contact_grid .pandit_icon {}

.contact_us .contact_grid h4 {
    color: #2A2A2A;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 115.909%;
    /* 28.977px */
}

.contact_us .contact_grid p {
    color: #9C9C9C;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 166.667% */
    letter-spacing: 0.40px;
}

.contact_us .form_container {
    background: #FEF4EA;
    margin: 20px 30px;
    padding: 20px 20px;
}

.contact_us .form_container form label {
    color: #2A2A2A;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 115.909%;
    margin-left: 4px;
    margin-bottom: 8px;
    margin-top: 18px;
    /* 26.659px */
}

.contact_us .form_container form input {

    border-radius: 6px;
    border: 1px solid #EDEDED;
    background: #FFF;
}

.contact_us .form_container form input::placeholder {
    color: #9C9C9C;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 115.909%;
    /* 24.341px */
    letter-spacing: 0.63px;
}

.contact_us .form_container form input[type="date"] {
    color: #9C9C9C;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 115.909%;
    /* 24.341px */
    letter-spacing: 0.63px;
}

.contact_us .form_container form input[type="time"] {
    color: #9C9C9C;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 115.909%;
    /* 24.341px */
    letter-spacing: 0.63px;
}

.contact_us .form_container form .btn_main {
    margin-top: 20px;
    border-radius: 100px;
    background: linear-gradient(90deg, #E4752D 0%, #FDB012 100%);
    padding: 12px 40px 12px 40px;
    justify-content: center;

    color: #2A2A2A;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    /* 160% */
    letter-spacing: 0.75px;
}

/* Mobile styles for form */
@media only screen and (max-width: 767px) {

    /* Make the columns stack vertically */
    .contact_us .form .col {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }

    /* Optional: Adjust margin or padding if needed */
    .contact_us .form .row {
        margin-bottom: 0px;
        /* Adjust spacing between rows */
    }

    .contact_us .form_container form label {
        color: #2A2A2A;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 10%;
        margin-left: 4px;
        margin-bottom: 5px;
        margin-top: 20px;
        /* 26.659px */
    }
}

/*  */




/* testinomials */



.testinomials .carousel .carousel-inner {
    border-radius: 10px;
    background: #FFE4D2;
}

.testinomials .carousel .img_card {
    border-radius: 0px 21px 21px 0px;
    flex-shrink: 0;
    width: 100%;
}


.testinomials .carousel {
    background-color: #FFF;
    padding: 0px 100px;
}

.testinomials .carousel .carousel-inner .icon_image img {
    height: 30px;
}

.testinomials .carousel .testimonial-text {
    position: relative;
    /* Allows absolute positioning of the SVGs */
    padding: 0px 40px 0px 40px;
    /* Add padding for inner content */
}

.testinomials .carousel .testimonial-text p {
    color: #626262;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 213.333% */
    letter-spacing: 0.45px;
}



.testinomials .carousel .right_top_svg_quat {
    position: absolute;
    top: -26px;
    right: 18px;
    width: 100px;
    /* Adjust size as needed */
    height: 100px;
    /* Adjust size as needed */
    z-index: 1;
}

.testinomials .carousel .bottom_left_svg_quat {
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100px;
    /* Adjust size as needed */
    height: 100px;
    /* Adjust size as needed */
    z-index: 1;
}

.testinomials .carousel svg {
    width: 100%;
    /* Ensure the SVG scales with its container */
    height: auto;
}

.testinomials .carousel .carousel-inner .inside_para {
    padding-top: 110px;
}

/* pooja_categories */

.pooja_categories {
    padding: 0px 40px;
}

.pooja_categories .container .btn_main {
    margin-top: -50px;
    margin-right: 17px;
    margin-left: 17px;
    border-radius: 100px;
    background: linear-gradient(90deg, #E4752D 0%, #FDB012 100%);

    color: #2A2A2A;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;


}

.pooja_categories .container .overlay {
    padding-top: 70px;
    padding-left: 30px;
    font-family: Roboto;
}

.pooja_categories .container .overlay ul li {
    font-family: Roboto;
    color: #282828;
}

.pooja_categories .container .overlay .btn_main_view {


    margin-left: -15px;
    border-radius: 100px;
    background: linear-gradient(90deg, #E4752D 0%, #FDB012 100%);

    color: #2A2A2A;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    /* padding: 10px 10px 10px 10px; */
    width: 100%;
    margin-top: 88px;

}

.pooja_categories .container .overlay h3 {
    font-size: 20px;
    font-weight: 600;

}

.pooja_categories .container {
    position: relative;
    width: 100%;
    height: 404px;
    padding: 397px 23px 18px 24px;
    border-radius: 11px;
    border: 2px solid #E4752D;

}


.pooja_categories .image {
    display: block;
    width: 100%;
    height: auto;
    justify-content: center;
    object-fit: cover;
    height: 400px;
    border-radius: 9px;



}

.pooja_categories .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1.5s ease;
    background-color: #ffffff;
    border-radius: 10px;

    height: 400px;

}

.pooja_categories .container:hover .overlay {
    opacity: 1;
}

.pooja_categories .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* */


/* footer */
.footer {
    background: linear-gradient(to right, #2e2b27, #4a382c, #2e2b27);
}

.footer .social_icons {
    padding-top: 40px;
}

.footer .social_icons .tree-images img {
    display: inline-block;
    /* Ensures images are inline */
    margin: 0;
    /* Removes all margins */
    padding: 0;
    /* Removes all padding */
    margin-right: -31px;
    /* Ensures no right margin */
}

.footer .contact {
    padding: 25px 10px;
}

.footer .contact span {
    color: #FFF;
}

.footer .contact .value {
    color: #FFF;
    text-align: center;
    font-family: Halant;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    /* 146.154% */
    letter-spacing: 0.39px;
}

.footer .copy_right {
    color: #FFF;
    text-align: center;
    font-family: Halant;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    /* 146.154% */
    letter-spacing: 0.39px;
    padding: 40px 7px 20px 7px;
}

/*  */